/* ------------- */
/* Basic Setting */
/* ------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 640px;
  background-color: #d1e8ee;
}

h2 {
  margin-top: 20px;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}
h6 {
  color: #ffffff;
}

p {
  margin-top: 20px;
  font-size: 1em;
  color: #7b8591;
}

::selection {
  color: #fff;
  background-color: #005aee;
}

/* ======================== */
/* Just Copy The Code Below */

/* ------------- */
/* Content Style */
/* ------------- */

.main-card {
  position: relative;
  width: 70%;
  margin: 50px auto;
  border-radius: 30px;
  font-family: "neuzeit-grotesk", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5;
  color: #303336;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px #6a6a6aa8;
}

.card-content-icons {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 5px;
}

.main-card .card-content {
  position: relative;
  display: flex;

  height: 100%;
  padding: 50px;
}

.left-cont img {
  position: relative;
  width: 300px;
  height: 80%;
  border-radius: 12px;
}

.main-card .content-left {
  position: relative;
  width: 300px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.main-card .content-left img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.main-card .content-right {
  position: relative;
  width: calc(100% - 300px);
  height: 100%;
  padding-left: 35px;
}

.main-card .tag {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  width: fit-content;
  padding: 8px 25px;
  border-radius: 10px;
  background-color: #c4ffaa;
}

.main-card .tag h5 {
  color: #ffffff;
  font-size: 0.75em;
  font-weight: 700;
  letter-spacing: 2px;
}

.main-card .tag_buton {
  position: sticky;
  left: 75%;
  transform: translatey(40%);
  width: 130px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #408bfd;
  margin-bottom: 20px;
}

.tag_buton h5 {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.main-card .mini-imgs {
  position: absolute;
  display: flex;
  bottom: auto;
  height: auto;
}

.main-card .mini-imgs img {
  width: 105px;
  height: 105px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: 300ms;
}

.main-card .mini-imgs img:hover {
  opacity: 0.75;
}

.main-card .mini-imgs img:nth-child(2) {
  margin: 0 10px;
}

/* Display this style when screen-width is lower than 992px */
@media only screen and (max-width: 992px) {
  .tur-adver {
    margin-bottom: 10px;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    min-height: 100vh;
  }

  .main-card {
    position: relative;
    width: 100%;
    height: auto;
    margin: 80px 20px;
  }

  .main-card .card-content {
    flex-direction: column;
  }

  .main-card .content-left {
    width: 100%;
    height: 300px;
  }

  .main-card .content-right {
    width: 100%;
    height: auto;
    padding: 175px 0 0;
  }

  .main-card .tag {
    left: 0;
    transform: translateX(0);
  }

  .main-card .mini-imgs {
    position: absolute;
    display: flex;
    top: 0;
    margin-top: 35px;
    height: 105px;
  }
}

/* Display this style when screen-width is lower than 500px */
@media only screen and (max-width: 500px) {
  .tur-adver {
    margin-bottom: 10px;
  }

  .main-card {
    margin: 120px 20px;
  }

  .main-card .card-content {
    padding: 25px;
  }

  .main-card .content-right {
    width: 100%;
    height: auto;
    padding: 115px 0 0;
  }

  .main-card .mini-imgs {
    margin-top: 20px;
  }

  .main-card .mini-imgs img {
    width: 60px;
    height: 60px;
  }
}

/* Just Copy The Code Above */
/* ======================== */

/* ----------- */
/* UI Designer */
/* ----------- */

.designer {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
  color: #46a2b9;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.designer a {
  text-decoration: none;
  color: #23515d;
}
